//-- Global setting -//
$section-padding: 80px 0;
$section-font-size: 42px;

$spacing-bottom-small: 10px;
$spacing-bottom-medium: 20px;
$spacing-bottom-large: 40px;


//-- Header Settings -- //
$menu-icon-padding-right: 3px;

// Navigation
$navigation-list-margin: 0 0 0 10px;
$navigation-a-lineheight: 30px;

// Homepage: welcome section
$welcome-text-padding: 50px 70px 65px;
$welcome-text-border: 5px solid #fff;
$welcome-pseduo-width: 10%;
$welcome-pseduo-height: 5px;

// Welcome header tag
$welcome-h1-font-size: 40px;

// Homepage: welcome image
$welcome-image-opacity: 0.6;

// Homepage program elements
$program-list-margin: 0 5px;


// -- Welcome settings -- //
$resume-btn-padding: 15px 20px;


// -- Services settings -- //
$single-service-padding: 40px 30px;
$single-service-shadow: 0 0 10px #ccc;
