#contact
{
  padding: rem-calc(0 0 80px 0);
  background-color: $light-gray;
  .contact-container
  {
    @include xy-grid-container;
    .contact-grid
    {
     @include xy-grid;

     .single-contact
     {
       @include xy-cell();
       text-align: center;
       margin-bottom: rem-calc(40px);
     }
    }
  }
}

#contact
{
  .contact-title
  {
    width: 100%;
    text-align: center;
    h2
    {
      font-size: rem-calc(42px);
      margin-bottom: 20px;
      letter-spacing: 2px;
      font-weight: 900;
    }
  }

  .contact-icon
  {
    display: block;
    margin: 0 auto 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: #0a0a0a;

    &:hover
    {
      background-color: map-get($foundation-palette, primary);
    }

    svg
    {
      color: $white;
      position: relative;
      top: 13px;
      font-size: 24px;
    }
  }
}
